<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Ranter | <%= typeof title !== 'undefined' ? title : 'Page' %></title>
	<!-- font awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
		integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous" />
	<!--Import Google Icon Font-->
	<link
		href="https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Merriweather:ital,wght@0,400;0,700;1,700&display=swap"
		rel="stylesheet">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css" />
	<!-- Custom css -->
	<link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
	<input type="hidden" name="" value="<%= user.name %>" id="user-name">
	<input type="hidden" name="" value="<%= user._id %> " id="user-id">
	<input type="hidden" name="" value="<%= user.username %> " id="user-username">
	<input type="hidden" name="" value="<%= user.username %> " id="senderudername">
	<div class="navbar-fixed">
		<input type="hidden" name="user" id="local-user" value="<%= locals.user.username  %>">
		<nav class="nav nav-wrapper">
			<div class="container">
				<div class="nav-wrapper">
					<a href="/ranter/newsfeed" class="brand-logo left">Ranter</a>
					<a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i
							class="material-icons">menu</i></a>
					<ul class="right hide-on-med-and-down">
						<li><a href="/ranter/newsfeed">Home</a></li>
						<li><a href="/ranter/newsfeed">NewsFeed</a></li>
						<li><a href="#">Contact</a></li>
						<% if(locals.user) { %>
						<li id="logout"><a href="#">logout</a></li>
						<% }else{ %>
						<li>
							<a href="#" id="login-link">login</a>
						</li>
						<li>
							<a href="#" id="register-link">Register</a>
						</li>
						<% } %>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<ul class="sidenav" id="mobile-demo">
		<li><a href="#">Home</a></li>
		<li><a href="#">NewsFeed</a></li>
		<li><a href="#">Contact</a></li>
		<% if(locals.user) { %>
		<li id="logout"><a href="#">logout</a></li>
		<% }else{ %>
		<li>
			<a href="/auth/login">login</a>
		</li>
		<li>
			<a href="/auth/register">Register</a>
		</li>
		<% } %>
	</ul>
</body>

</html>