<%- include('./partials/header') %>
<main>
    <section class="newsfeed">
        <div class="container">
            <div class="row mt-m">
                <div class="col l4 m12">
                    <%- include('./partials/profile-left') %>
                </div>
                <div class="col l8 m12">
                    <div class="chat-box">
                        <div class="chat-box__main" id="chat-box__main">
                            <div class="chat-box__main-header">
                                <img src="/public/images/<%= user.gender === 'male' ? 'male' : 'woman' %>.jpg"
                                    alt="profile picture of <%= user.name %>"
                                    class="broken-image circle responsive-img post-img" id="list-img" />
                                <div class="about">
                                    <div class="chat-with" id="chat-with"></div>
                                    <input type="hidden" name="friendUsername" id="friend-username">
                                    <input type="hidden" name="friendUsername" id="friend-name">
                                    <input type="hidden" name="friendId" id="friend-id">
                                </div>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="chat-box__main-history">
                                <ul id="messages-box">

                                </ul>
                            </div>
                            <div class="chat-box__main-message">
                                <form action="#" id="sendMessage">
                                    <textarea name="message-to-send" id="message-to-send"
                                        placeholder="Type your message" rows="7"></textarea>
                                    <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
                                    <i class="fa fa-file-image-o"></i>
                                    <input type="hidden" name="sender" value="<%= user.email  %>" id="sender" />
                                    <input type="hidden" name="receiver" id="to" />
                                    <button class="btn right blue" id="send-btn" disabled>
                                        Send
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="chat-box__online">
                            <div class="search">
                                <form id="search-form">
                                    <input type="text" placeholder="search" id="search-input" />
                                    <button type="submit">
                                        <svg class="search-icons">
                                            <use xlink:href="/public/images/sprite.svg#icon-search"></use>
                                        </svg>
                                    </button>

                                </form>
                            </div>

                            <ul class="lists" id="lists">
                                <% friends.forEach((li) => {%>
                                <li class="lists-item friend" data-name="<%= li.name %>"
                                    data-username="<%= li.username %>" data-id="<%= li._id %>">
                                    <img src="/users/<%= li._id %>/avatar/" alt="">
                                    <div class="about">
                                        <h5>
                                            <%= li.name %>
                                        </h5>
                                        <div class="status">
                                            <i class="fa fa-circle offline"></i> left 10 hours ago
                                        </div>
                                    </div>
                                </li>
                                <%})%>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%- include('./partials/footer') %>