<%- include('partials/header') %>
<main>
	<section class="newsfeed">
		<div class="container">
			<div class="row mt-m">
				<div class="col l3 m12">
					<%- include('./partials/profile-left') %>
				</div>
				<div class="col offset-l1 l8 m12">
					<%- include('./partials/createpost') %>
					<div class="post-content">
						<img src="/public/uploads/post_image-1595360122222.png" alt="post-image"
							class="responsive-img post-image" />
						<div class="post-detail">
							<div class="row">
								<div class="col l2 m3 flex-c">
									<% if(typeof user.avatar === 'undefined') {%>
									<img src="/public/images/<%= user.gender === 'male' ? 'male' : 'woman' %>.jpg"
										alt="profile pic of tolu" class="broken-image circle responsive-img post-img" />
									<%} else{%>
									<img src="/users/<%= user.id %>/avatar" alt="profile pic of tolu"
										class="broken-image circle responsive-img post-img" />
									<%}%>
								</div>
								<div class="col l10 m9">
									<div class="post-detail__user-info">
										<h5>
											<a href="timeline.html" class="profile-link">
												Tolulope
											</a>
											<span class="following">following</span>
										</h5>
										<p class="text-muted">
											Published a photo about 3 mins ago
										</p>
										<div class="reaction right">
											<!-- <a class="btn-floating white-text"><i class="material-icons">camera</i> 13</a> -->
											<a class="white-text">
												<span class="badge white-text blue hoverable">
													<i class="fa fa-thumbs-down"></i>
													0
												</span>
											</a>
											<a class="white-text">
												<span class="badge white-text blue hoverable">
													<i class="fa fa-thumbs-up"></i>
													13
												</span>
											</a>
										</div>
									</div>
									<div class="divider"></div>
									<div class="post-detail__post-text">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit,
											sed do eiusmod tempor incididunt ut labore et dolore magna
											aliqua. Ut enim ad minim veniam, quis nostrud exercitation
											ullamco laboris nisi ut aliquip ex ea commodo consequat.
											Duis aute irure dolor in reprehenderit in voluptate velit
											esse cillum dolore eu fugiat nulla pariatur. Excepteur
											sint occaecat cupidatat non proident, sunt in culpa qui
											officia deserunt mollit anim id est laborum.
											<a href="#">more...</a>
										</p>
									</div>
									<div class="divider"></div>
									<div class="post-detail__post-comment mb-s">
										<img
											src="/public/images/picture-136.png"
											alt=""
											class="broken-image circle responsive-img profile-image-s"
										/>
										<p>
											<a href="timeline.html" class="profile-link">
												John
											</a>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit,
											sed do eiusmod tempor incididunt ut labore et dolore magna
											aliqua. Ut enim ad minim veniam, quis nostrud
										</p>
									</div>
									<div class="post-detail__post-comment mb-s">
										<img
											src="/public/images/picture-136.png"
											alt=""
											class="broken-image circle responsive-img profile-image-s"
										/>
										<p>
											<a href="timeline.html" class="profile-link">
												John
											</a>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit,
											sed do eiusmod tempor incididunt ut labore et dolore magna
											aliqua. Ut enim ad minim veniam, quis nostrud
										</p>
									</div>
									<div class="post-detail__post-comment mb-s">
										<img
											src="/public/images/picture-136.png"
											alt=""
											class="broken-image circle responsive-img profile-image-s"
										/>
										<p>
											<a href="timeline.html" class="profile-link">
												John
											</a>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit,
											sed do eiusmod tempor incididunt ut labore et dolore magna
											aliqua. Ut enim ad minim veniam, quis nostrud
										</p>
									</div>
									<div class="post-detail__post-comment mb-m">
										<% if(typeof user.avatar === 'undefined') {%>
									<img src="/public/images/<%= user.gender === 'male' ? 'male' : 'woman' %>.jpg"
										alt="" class="broken-image circle responsive-img profile-image-s" />
									<%}else{%>
									<img src="/users/<%= user.id %>/avatar" alt=""
										class="broken-image circle responsive-img profile-image-s" />
									<%}%>
										<input
											type="text"
											class="comment-form"
											placeholder="Post a comment"
										/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

<%- include('partials/footer') %>