<%- include('./partials/header') %>
<style>

</style>
<section class="profile" id="profile">
    <div class="container">
        <div class="row mt-s">
            <div class="col m12 l4 padding">
                <div class="card center-align hoverable profile-card">
                    <div class="card-image profile__card-image">
                    </div>
                    <div class="card-content profile__card-content">
                        <% if(typeof user.avatar === 'undefined') { %>
                        <img id="profile-pic" src="/public/images/<%= user.gender === 'male' ? 'male' : 'woman' %>.jpg"
                            alt="mary" class="broken-image circle responsive-img profile__img">
                        <% } else {%>
                        <img id="profile-pic" src="http://localhost:4000/users/<%= user.id %>/avatar" alt="mary"
                            class="broken-image circle responsive-img profile__img">
                        <% } %>

                        <p>
                            <%= user.name %> <br>
                            <span>quotes here</span>
                        </p>
                    </div>
                    <div class="card-action profile__card-action">
                        <input type="file" accept="image/*" id="avatar" class="change-avatar" name="avatar"
                            value="avatar">
                        <label for="avatar" class="btn blue"><i class="fa fa-upload"></i>Change Avatar</label>
                    </div>
                </div>
            </div>
            <div class="col m12 l8">
                <div class="profile__view center-align">
                    <h1>Your Profile</h1>
                    <div class="profile-edit">
                        <form class="form-tag" id="form">
                            <div class="row">
                                <div class="col m6 s12">
                                    <div class="form-group">
                                        <label class="control-label" for="name">Name</label>
                                        <input placeholder="First name" disabled="" name="firstname" type="text"
                                            value="<%= user.name %>" id="name">
                                    </div>
                                </div>
                                <div class="col m6 s12">
                                    <div class="form-group">
                                        <label class="control-label">Email</label>
                                        <input placeholder="First name" disabled="" name="firstname" type="text"
                                            value="<%= user.email %> ">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col m6 s12">
                                    <div class="form-group">
                                        <label class="control-label" for="username">UserName</label>
                                        <input placeholder="Zip" disabled="" name="username" type="text"
                                            value="<%= user.username %>" id="username">
                                    </div>
                                </div>
                                <div class="col m6 s12">
                                    <div class="form-group">
                                        <label class="control-label" for="city">City</label>
                                        <input placeholder="Your city" disabled="" name="city" type="text"
                                            value="<%= user.city %>" id="city">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col m6 s12">
                                    <div class="form-group">
                                        <label class="control-label" for="zip">Zip</label>
                                        <input placeholder="Zip" disabled="" name="zip" type="text"
                                            value="<%= user.zip %>" id="zip">
                                    </div>
                                </div>
                                <div class="col m6 s12">
                                    <div class="form-group">
                                        <label class="control-label" for="gender">Gender</label>
                                        <input placeholder="Gender" disabled="" name="gender" type="text"
                                            value="<%= user.gender %>" id="gender">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col l12 m12 s12">
                                    <div class="form-group">
                                        <label class="control-label" for="bio">Bio</label>
                                        <textarea name="Tolulope" id="bio" class="bio" cols="50" rows="50"
                                            disabled=""><%= user.aboutme %></textarea>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" value="<%= user._id %>" class="btn blue" id="user-id">
                            <div class="profile-edit-btns">
                                <div class="form-group">
                                    <!-- <input type="submit" value="Update" class="btn blue" id="submitBtn"> -->
                                    <button type="button" class="btn blue update" id="submitBtn">Update</button>
                                </div>
                                <div class="form-group">
                                    <button class="btn blue cancel" id="edit">Edit</button>
                                    <button class="btn blue cancel" id="cancel" style="display: none;">Cancel</button>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<%- include('./partials/footer') %>