<%- include('./partials/header') %>
<section class="search-result">
    <div class="container">
        <div class="row">
            <div class="col l5">
                <div class="friendList">
                    <div class="image">
                        <% if(typeof user.avatar === 'undefined') {%>
                        <img src="/public/images/<%= user.gender === 'male' ? 'male' : 'woman' %>.jpg"
                            alt="profile pic of tolu" class="broken-image circle responsive-img post-img" />
                        <%} else{%>
                        <img src="/users/<%= user.id %>/avatar" alt="profile pic of tolu"
                            class="broken-image circle responsive-img post-img" />
                        <%}%>
                    </div>
                     <div class="friend-detail">
                         <h3><%= user.name %></h3>
                        <p><%= user.bio.substring(0, 40) %>... </p>
                    </div>
                    <div class="buttons">
                        <% if(type === 'pending') {%>
                        <button disabled class="btn" id="">Pending</button>
                        <% } else if(type === 'accept'){ %>
                        <button class="btn" id="accept" value="<%= user.username %>">Accept</button>
                        <button class="btn" id="reject" value="<%= user.username %>">Reject</button>
                        <input type="text" name="receiverName" id="user-id" value="<%= user._id %>">
                        <input type="hidden" name="username" id="fullname" value="<%= user.name %>">
                        <%} else if(type === 'friend') {%>
                        <button class="btn" id="view">View</button>
                        <%}else if(type === 'notfriend'){%>
                        <button class="btn" id="add-friend">Add friend</button>
                        <%}%>
                        <input type="hidden" name="username" id="query" value="<%= user.username %>">
                        <input type="hidden" name="receiverName" id="user-id" value="<%= user._id %>">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('./partials/footer') %>